<mat-card class="mr-10 mt-40 rounded-xl">
  <mat-card-title>
    <div class="text-3xl underline">What is new</div>
  </mat-card-title>
  <mat-card-content>
    <div class="indent-8">
      <ul>
        <li class="mt-2 list-none"><p class="text-justify text-xl">
          Brainfree is as of 10/29/22 a small application in which you can create a receipt.
        </p></li>

        <li class="mt-2 list-none"><p class="text-justify text-xl">
          Planned is the first big feature that you can invite a group of family and /
          or friend and share the shopping cart
          with.
        </p></li>
        <li class="mt-2 list-none"><p class="text-justify text-xl">
          It will be possible to create your own cards e.g. wish list or gift list for children and more.
        </p>
        <li class="mt-2 list-none"><p class="text-justify text-xl">
          From the shopping cart will then be generated a cash book, which makes just in today's time sense.
        </p></li>
        <li class="mt-2 list-none"><p class="text-justify text-xl">
          There are more things planned, an update will come.
        </p></li>
        
      </ul>
    </div>
  </mat-card-content>
</mat-card>
